.active
    @apply text-[#222831]
.aside
    padding: 12px 0
    @apply col-span-1 h-screen flex sticky top-0 flex flex-col items-center bg-[#00ADB5] justify-between text-2xl text-white
nav
    @apply flex flex-col items-center 
nav:hover
    @apply items-start
    span
        display: block
        animation: fade_in_show 0.3s
        @apply inline-block opacity-100
.icon
    padding: 12px
    transition: .5s
    span 
        display: none
        @apply text-lg ml-2 opacity-0
    &:hover
        @apply text-[#222831]
.more
    @apply text-4xl hover:text-[#222831]


@keyframes fade_in_show 
     0% 
          opacity: 0
          transform: scale(0)

     100%
          opacity: 1
          transform: scale(1)