//- start large screen styles
// @media screen and (max-width: 1300px)
.container-fluid 
    @apply grid grid-cols-10
.main
    @apply col-span-9
.menu
    @apply hidden
.aside
    @apply col-span-1  bg-[#00ADB5] h-screen flex flex-col justify-between py-3 items-center text-center sticky top-0  sticky top-0
.i
    @apply block text-2xl
nav span
    @apply text-lg ml-1 hidden
.icon 
    @apply flex items-center p-3 capitalize  text-white transition duration-500 hover:text-[#0F3D3E] block
.more
    @apply text-2xl text-white hover:text-[#222831]


nav:hover span
    display: block
    animation: span_show .4s




//- start mediuem screen styles
@media screen and (max-width: 992px)
    .container-fluid 
        @apply grid grid-cols-12
    .aside
        @apply col-span-2
    .main
        @apply col-span-10


//- start small screen styles
@media screen and (max-width: 712px)
    .container-fluid
        @apply block
    .aside
        @apply flex flex-row justify-between items-center p-2 bg-[#00ADB5] relative h-auto
    .menu
        @apply text-2xl block
    nav
        @apply hidden absolute bottom-[-38%] bg-[#00ADB5] left-[12%] w-[80vw]  rounded-md p-2 text-white capitalize
    .links-nav
        @apply w-full  flex justify-around 
    .i
        @apply hidden
    .more
        @apply hidden
    nav span
        @apply block
    .icon
        @apply p-0

@keyframes span_show 
     0% 
          opacity: 0
          transform: scale(0)

     100%
          opacity: 1
          transform: scale(1)
// *
//     scroll-behavior: smooth    