doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script(src="https://kit.fontawesome.com/97edd601e7.js" crossorigin="anonymous")
		title Portofolio AJ
	body
		//- start conatianer 
		.container
			//- start nav 
			nav
				.logo 
					a(href="index.html")
						img(src="img/logo.png")
			//- start icons menu 
			.menu
				ul
					li
						a(href="index.html") 
							i(class="fa-solid fa-house")
					li
						a(href="about.html") 
							i(class="fa-regular fa-user")
					li
						a(href="portofolio.html")
							i(class="fa-solid fa-laptop")
					li
						a(href="contact.html")
							i.fa-solid.fa-folder-open 
					li
						a(href="contact.html")
							i.fa-solid.fa-phone
			//- start next icon 
			.next
				i.fa-solid.fa-arrow-down