doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css")
        link(rel="stylesheet", href="./css/main.css")
        //- script(src="https://kit.fontawesome.com/97edd601e7.js" crossorigin="anonymous")
    body
        //- start container
        .container-fluid

            //- start aside nav
            .aside(id="aside")

                //- start logo 
                .logo: img(src="./img/logo.png")
                
                //- start nav section
                - var icons = ["fa-light fa-house", "fa-light fa-user", "fa-light fa-laptop", "fa-light fa-folder-tree", "fa-light fa-phone"] 
                - var labels = ["home", "about", "skills", "projects", "conect"] 
                - var labelsc = ["active"] 
                i(class="fa-regular fa-bars menu" id="menu1")
                nav(id="nav")
                    .links-nav
                        -  for (var i = 0; i < icons.length; i++)
                            a.icon(class=labelsc[i])
                                i(class="i " + icons[i])
                                span #{labels[i]}             
                //- start bottom icon
                .more
                    i(class="fa-light fa-arrow-down i")
            //- start main section container
            .main
                .home
                    .p1
                        .text
                            p.hi HI THERE! I'M
                            h1.me <span class="fname"> ANAS </span> JAIDI
                            p.short-about A <span class="job">Digital IT Architect, Front-End Web DESIGNER & Developer </span> passionate about creating interactive applications and experiences on the web.
                        .links
                            .cv
                                a
                                    span resume 
                                    i(class="fa-duotone fa-arrow-down-to-arc")
                            .socials
                                a: i(class="fa-brands fa-github")
                                a: i(class="fa-brands fa-linkedin")
                                a: i(class="fa-brands fa-twitter")
                    .imgs(id="my_img")
                        .d1
                        .d2
                        .d3
                        img(src="./img/theme.jpeg" class="theme")
                .about 
                    .title 
                        h2 about me
                        span robin hood
                    .sub-title 
                        hr
                        span some info
                    .about-text 
                        p <span class="job">I'm a front-end web developer</span> with a background in computer systems and Algorithems and data-structure . My 3 years of IT experience has given me a strong foundation for web development and building complex solutions. Recently, i joined <span class="job">42 network for senior digital it architect degree</span> . I am passionate about coding and solving problems through code, and I am excited to work alongside other amazing programmers and learn so much more!
                .skills
                    .title 
                        h2  skills
                        span robin hood
                    .sub-title 
                        hr
                        span check out my
                    
    script(src="./js/main.js")
    script(src="./js/anime.min.js")
    script(src="./js/anime.app.js")